<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginapp2">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginApp2">
        <activity
            android:name=".deviseConverterActivity"
            android:label="conversion de devise"
            android:parentActivityName=".navigationActivity" />
        <activity
            android:name=".addDepense"
            android:label="add cash flow"
            android:parentActivityName=".navigationActivity" />
        <activity
            android:name=".depenseActivity"
            android:label="depense"
            android:parentActivityName=".navigationActivity"/>
        <activity
            android:name=".navigationActivity" />
        <activity
            android:name=".signupActivity" />
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>